<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>DashBoardFilter</filter-name>
        <filter-class>Controller.Dashboard.DashBoardFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DashBoardFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controller.Usuario.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>Controller.Auth.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Controller.Dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaServlet</servlet-name>
        <servlet-class>Controller.Marca.MarcaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>Controller.Categoria.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EspecieServlet</servlet-name>
        <servlet-class>Controller.Especie.EspecieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>Controller.Produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>Controller.Carrinho.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContaServlet</servlet-name>
        <servlet-class>Controller.Usuario.ContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListagemServlet</servlet-name>
        <servlet-class>Controller.Listagem.ListagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicoServlet</servlet-name>
        <servlet-class>Controller.Produto.ServicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Controller.Index.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>Controller.Pedido.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosUsuarioServlet</servlet-name>
        <servlet-class>Controller.Usuario.PedidosUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>Controller.Relatorio.RelatorioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/dashboard/usuario/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaServlet</servlet-name>
        <url-pattern>/dashboard/marca/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/dashboard/categoria/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EspecieServlet</servlet-name>
        <url-pattern>/dashboard/especie/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/dashboard/produto/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContaServlet</servlet-name>
        <url-pattern>/dashboard/conta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListagemServlet</servlet-name>
        <url-pattern>/list/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicoServlet</servlet-name>
        <url-pattern>/dashboard/servico/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/dashboard/pedido/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosUsuarioServlet</servlet-name>
        <url-pattern>/dashboard/meus-pedidos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/dashboard/relatorio/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
</web-app>
