footer{
    background-color: #F4F4F4;
    padding: 50px;
    display: flex;
    justify-content: center
}

footer .content{
    width: 1186px;
}

footer .info{
    /*border: 1px solid red;*/
    width: 295px;
}

.info h3{
    font-size: 20px;
    font-weight: 400;
}

footer p{
    font-size: 14px;
    font-weight: 300;
}