footer{
    background-color: #F4F4F4;
    padding: 50px;
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center
}

footer .content{
    /*border: 1px solid orange;*/
    width: 1186px;
}

footer .info{
    /*border: 1px solid black;*/
    width: 295px;
}